<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Prediksi Sentimen Traveloka</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="box">
    <h1>Prediksi Sentimen Ulasan Traveloka</h1>
    <form method="post">
      <textarea name="review" placeholder="Tulis ulasan kamu di sini..."></textarea>
      <button type="submit">Prediksi</button>
    </form>

    {% if prediction %}
      <p class="result">Hasil Sentimen: <strong>{{ prediction }}</strong></p>
    {% endif %}
  </div>
</body>
</html>
